@model IEnumerable<Post>

    <header class="masthead" style="background-image: url('img/home-bg.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>Redemption News</h1>
                        <span class="subheading">Home for Gospel News and Contents</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                @foreach (var post in Model)
                {
                    <div class="post-preview">
                        <a asp-action="post" asp-controller="home" asp-route-id="@post.Id">
                            <h2 class="post-title">
                                @post.Title - <br />
                                <a class="btn btn-outline-success" asp-action="edit" asp-controller="panel" asp-route-id="@post.Id">
                                    Edit
                                </a>
                                <a class="btn btn-outline-danger" asp-action="remove" asp-controller="panel" asp-route-id="@post.Id">
                                    - Delete
                                </a>
                            </h2>
                            @*<h3 class="post-subtitle">
                                    Problems look mighty small from 150 miles up
                                </h3>*@
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#">@post.Author</a>
                            on @post.Create
                        </p>
                    </div>
                    <hr>
                }

                <!-- Pager -->
                @*<div class="clearfix">
                        <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
                    </div>*@
            </div>
        </div>
    </div>

    <hr>

